body {
  background: linear-gradient(to top, #101828, #472477);
  color: #999;
}

.header {
  color: #999;
  background: transparent;
}

.main {
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  background-image: url(../images/object1.png), url(../images/object2.png);
  background-size: 750px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: anima 20s ease infinite;
}

.main__container {
  display: flex;
  align-items: center;
}

.main__content {
  flex: 0 1 100%;
}

.form {
  padding: 75px 25px;
  flex: 0 0 35%;
  border: 1px solid;
  margin-right: 40px;
  background: rgba(217, 217, 217, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 15px;
}

.form__title {
    font-size: 22px;
    text-align: center;
    margin-bottom: 30px;
}

.form__body > *:not(:last-child) {
  margin-bottom: 30px;
}

.form__label {
  display: grid;
  gap: 10px;
}

.form__input {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 0 10px;
  height: 40px;
  border-radius: 10px;
}

.form__buttons {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 25px;
}

.form__button {
  padding: 8px 20px;
  border: 2px solid;
  font-weight: 700;
  transition: color 0.3s;
  border-radius: 5px;
}

.form__button-signup {
  padding-bottom: 5px;
  transition: color 0.3s;
  width: fit-content;
}

.form__button:hover,
.form__button-signup:hover {
  color: #fff;
}

.main__image {
  max-width: 450px;
  margin-left: 40px;
}
.main__image img {
  width: 100%;
  animation: scale 10s ease infinite;
}

@media (max-width: 1099px) {

  .main__container {
    margin-bottom: 100px;
  }

  .main__content {
    flex: 1 1 100%;
  }

  .main__image {
    margin: 0;
  }

  .form {
    margin: 20px 0;
    overflow: scroll;
  }

}

@media (max-width: 998px) {

  body {
    background: #101828;
  }

  .header {
    background: rgba(0, 0, 0, .5);
  }

  .main__container {
    padding: 45px 0;
    margin-bottom: 25px;
    flex-direction: column;
    position: relative;
  }

  .form {
    position: absolute;
    top: 25%;
    flex: 1 1 auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
  }

  .main,
  .main__image img {
    animation: none;
  }

}

@media (max-width: 767px) {

  .form__buttons {
    display: flex;
    flex-direction: column;
  }

  .form__button {
    width: 100%;
  }

}

@keyframes anima {
  0% {background-position: -75% 0%, 175% 0%;}
  50% {background-position: 200% 100%, -100% 100%;}
  100% {background-position: -75% 0%, 175% 0%;}
}

@keyframes scale {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}