body {
  font-family: sans-serif;
  background: linear-gradient(to top, #101828, #472477);
  color: #999;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

[class*='__container'] {
  width: min(100% - 30px, 1200px);
  margin-inline: auto;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 0;
  z-index: 3;
}

.header__container {
  min-height: 45px;
  display: flex;
  align-items: center;
  gap: 25px;
}

.logo {
  font-size: 28px;
  font-weight: 700;
}

.menu {
 flex: 1 1 auto;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.menu__list {
  display: flex;
  gap: 25px;
}

.menu__link {
  transition: color 0.3s;
}

.menu__link:hover {
  color: #fff;
}

.menu__buttons {
 display: flex;
 align-items: center;
 gap: 5px;
}
.menu__button {}


@media (max-width: 512px) {

  .header__container {
    flex-direction: column;
    gap: 15px;
  }

  .menu__list {
    font-size: 14px;
    gap: 15px;
  }

  .logo {
    font-size: 24px;
  }

}
