.main {
  flex: 1 1 auto;
  min-height: 100%;
  display: flex;
  align-items: center;
}

.main__container {
  display: flex;
  align-items: center;
}

.form {
  padding: 15px;
  color: #444;
}

.form__body > *:not(:last-child) {
  margin-bottom: 30px;
}

.form__label {
  display: grid;
  gap: 10px;
}

.form__input {
  width: 100%;
  border: 2px solid;
  background: transparent;
  padding: 0 10px;
  height: 40px;
  color: #000;
}

.form__buttons {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 25px;
}

.form__button {
  padding: 8px 20px;
  border: 2px solid;
  font-weight: 700;
  transition: color .3s;
}

.form__button-return {
  padding-bottom: 5px;
  transition: color .3s;
}

.form__button:hover,
.form__button-return:hover {
  color: #000;
}


@media (max-width: 767px) {

  .form__buttons {
    display: flex;
    flex-direction: column;
  }

  .form__button {
    width: 100%;
  }

}
