body {
  background: linear-gradient(to top, #101828, #472477);
  color: #999;
}

.header {
  color: #999;
  background: transparent;
}

.main {
  min-height: 100%;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  background-image: url(../images/object1.png), url(../images/object2.png);
  background-size: 750px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: anima 20s ease infinite;
}

.main__container {
  display: flex;
  align-items: center;
}

.form {
  padding: 45px 25px;
  flex: 0 0 35%;
  border: 1px solid;
  margin-right: 40px;
  background: rgba(217, 217, 217, 0.1);
  backdrop-filter: blur(12px);
}

.form__body > *:not(:last-child) {
  margin-bottom: 30px;
}

.form__label {
  display: grid;
  gap: 10px;
}

.form__input {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 0 10px;
  height: 40px;
}

.form__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.form__button {
  padding: 8px 20px;
  border: 2px solid;
  font-weight: 700;
  transition: color .3s;
}

.form__button-return {
  padding-bottom: 5px;
  transition: color .3s;
}

.form__button:hover,
.form__button-return:hover {
  color: #fff;
}

@media (max-width: 767px) {

  .form__buttons {
    display: flex;
    flex-direction: column;
  }

  .form__button {
    width: 100%;
  }

}

@keyframes anima {
  0% {background-position: -75% 0%, 175% 0%;}
  50% {background-position: 200% 100%, -100% 100%;}
  100% {background-position: -75% 0%, 175% 0%;}
}