<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container">
                <a href="/" class="logo"><span>State</span>Tenders</a>
                <div>
                    <a href="/about" class="menu__link">О нас</a>
                    <a href="/" class="menu__link">Форум</a>
                    <a href="login.html" class="menu__button">Войти</a>
                </div>
            </div>
        </header>
        <main class="main">
            <section class="about">
                <div class="about__container">
                    <h2 class="about__title">
                        <span>Кто мы?</span>
                        <br/>
                        Мы участники Transparency Hackathons, группа единомышлеников
                        <span>Night 2.0</span>
                    </h2>
                    <p class="about__text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eum nam sequi!
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eum nam sequi!
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque eum nam sequi!
                    </p>
                </div>
            </section>
            <section class="contacts">
                <h2 class="contacts__title">Наши контакты</h2>
                <ul class="contacts__list">
                    <li><a href="/" class="contacts__link">Дискорд</a></li>
                    <li><a href="/" class="contacts__link">Инстаграм</a></li>
                </ul>
            </section>
        </main>
    </div>
    <script src="js/main.js"></script>
</body>
</html>
