<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container">
                <a href="/" class="logo"><span>State</span>Tenders</a>
                <div>
                    <a href="/about" class="menu__link">О нас</a>
                    <a href="/" class="menu__link">Форум</a>
                    <a href="login.html" class="menu__button">Войти</a>
                </div>
            </div>
        </header>
        <main class="main"></main>
    </div>
    <script src="js/main.js"></script>
</body>
</html>