<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IJBH - Главная</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="header__container">
            <a href="/" class="logo">IJBH</a>
            <nav class="header__menu menu">
                <ul class="menu__list">
                    <li><a href="/" class="menu__link">Главная</a></li>
                    <li><a href="" class="menu__link">О нас</a></li>
                    <li><a href="" class="menu__link">Связанное</a></li>
                </ul>
                <div class="menu__buttons">
                    <a href="login.html" class="menu__button">Вход</a>
                    /
                    <a href="signup.html" class="menu__button">Регистрация</a>
                </div>
            </nav>
        </div>
    </header>
    <main class="page">Content</main>
    <footer class="footer">Footer</footer>
</div>
<script src="/js/main.js"></script>
</body>
</html>
